* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ECEFF1;
}

nav {
  background-color: #607D8B;
}

a {
  text-decoration: none;
  color: white;
}

nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	height: 100%;
}

nav ul li {
  text-decoration: none;
  padding: 2%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
}
